h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid blueviolet;
  padding: 40px;
  font-size: xx-large;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid blueviolet;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.footer {
  border: 2px blueviolet;
  margin: 10px;
  position: fixed;
  bottom: 0;
}