.flex-header-parent {
  display:flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  flex-basis: content;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  border: 5px solid blueviolet;
  font-size: xx-large;
}

a {
  display:inline-block;
  height:100px;
}

a img {
  padding: 30px;
  height:36px;
  width:36px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group a button {
  margin-left: 20px;
  border: 2px solid blueviolet;
  font-size: 20px;
}

.button-group button:hover {
  background-color: aqua;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid blueviolet;
  margin: 10px;
}

.flex-child-element:first-child {
  flex: 2.5;
  margin-right: 20px;
}

.footer {
  border: 2px blueviolet;
  margin: 10px;
  position: fixed;
  bottom: 0;
}